:root {
  --bg-gray: #272d35;
}

/* ----------------- */
* {
  padding: 0;
  margin: 0;
  /* max-width: 100% !important; */
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

 html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
} 
body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background-color: #1a0e0e;
}

a {
  text-decoration: none !important;
  color: transparent;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-container-row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.flex-row-reverse {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}

.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}
.flex-5 {
  flex: 5;
}
.flex-6 {
  flex: 6;
}

.transition {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the arrows for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}